<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta http-equiv="pragma" content="no-cache"/>
  <meta name="fitness" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <style>
  #Header {
      color: Tomato;
      font-size: 60px;
      text-align: center;
      }

  #tagline {
      font-size: 25px;
      text-align: center;
       }


.alert-info{
     background-color: black;
     width: 2000;
     height: 1400;
     }


   </style>
</head>
<body>

<div class="home">

<div class="alert alert-info" role="alert">
   <div class="alert-heading"></div>
<h1 id="Header">THE FITNESS APP</h1>      
<p id="tagline">A TOOL TO A HEALTHIER YOU</p>
</div>





<div class="main">
  <div class="alert alert-info" role="alert">
   <div class="alert-heading"></div>



</div>
</div>

<!--<img src="static/img/fitness.jpg" class="img-rounded" width="2000" height="450">-->
<img src="fitness.jpg" class="img-rounded" width="2000" height="450">
</div>

</div>
</body>
</html>

